{% extends "base.html" %}
{% load static %}

{% block title%}
    <title> Restaurant - {{restaurant}} </title>
{% endblock title%}

{% block cssfiles%}
    <link rel="stylesheet" href="{% static 'css/fishland.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock cssfiles%}


{% block body %}
<!--side bar-->
<nav class="sidebar">
    <div class="text">
    <a href="#"><i class="fa fa-home"></i></a>
    <ul>
        {% for category in categories %}    
            <li><a href="#{{category.slug}}" onclick="myfun()">{{category}}</a></li>
        {% endfor %}
    </ul>
</div>
</nav>
<!--Side bar ends-->
<section class="home" id="home">
    <div class="barb">
    <h2><img src="./Images/Restaurants/fishland.jpg" height="150"></h2>
    <div class="cont">
        <iframe width="420" height="315"
src="https://www.yout111ube.com/embed/zc8DJMgkQR4?autoplay=1&mute=1&loop=1&playlist=zc8DJMgkQR4&loop=1">
</iframe>
        </div>
        </div>
</section>

{% for category in categories %}
<section class="fastfood" id="{{category.slug}}">
    <h2 class="fastfood1">{{category}}</h2>
    <hr class="line">
    <h4>{{category}}</h4>
    <div class="box-fast-food">
    {% for dish in category.dish_category.all %}
        <div class="box">
            <img src="{{dish.image.url}}">
            <h3>{{dish.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>{{dish.price}}</span>
            <br>
            <a href="{% url 'restaurant:dish_details' dish.restaurant.slug dish.slug %}" class="btn">Show</a>
            <a href="#" class="btn">Add to cart</a>
            
        </div>
    {% endfor %}
    </div>
</section>
{%endfor%}

<div class="arrow">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
</div>

<!--Home  ends-->
{% endblock body %}

{% block jscode %}
<!--Java Script-->
<script>
    let menu = document.querySelector('#menu-bars');
    let navbar = document.querySelector('.navbar');
    
    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');
    }
    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbar.classList.remove('active');
    }
    
    function myfun() {
        document.querySelectorAll(".dish-category").forEach(section => {
            section.style.display = "block";
        });
    }
</script>
<!--JavaScript ends -->

{% endblock jscode %}